<ng-template #submittedTemplate>
    <div class="text-center my-5">
      <div>
        <i style="width: 100px" class="fa fa-4x bg-success p-4 rounded-circle text-white fa-check"></i>
      </div>
      <p class="card-text mt-4 display-6" [translate]="'SubmitEvaluationCompleted'">
      </p>
    </div>
  </ng-template>

  <ng-template #invalidTokenTemplate>
    <div class="text-center my-5">
      <div>
        <i style="width: 100px" class="fa fa-4x bg-warning p-4 rounded-circle text-white fa-times"></i>
      </div>
      <p class="card-text mt-4 display-6" [translate]="'InvalidEvaluationKey'">
      </p>
    </div>
  </ng-template>

  <ng-template #templateInvalidPeriod>
    <div class="text-center mt-5">
      <div>
        <i style="width: 100px" class="fa fa-4x bg-warning p-4 rounded-circle text-white fa-times"></i>
      </div>
      <p class="card-text mt-3">
        <span [translate]="'EventNotFound'"></span>&nbsp;</p>
      <p class="card-text mt-4 display-6" [translate]="'InvalidEvaluationKey'">
      </p>
    </div>
  </ng-template>
  <div class="col-12">
    <div class="mb-2 font-lg mt-2 text-primary text-right" *ngIf="evaluationEvent"
         [translate]="'EvaluationPeriodDates'" [translateParams]="{start: start, end: end}"></div>
  </div>
<div class="col-12 mb-5">
  <div class="card mb-4" *ngIf="evaluationEvent && evaluationEvent.module">
    <div class="card-body">
      <h2 class="card-title text-primary display-6">Evaluation Form
      </h2>
      <h5 class="card-title">({{evaluationEvent.module.moduleSection.module.code}})
        {{evaluationEvent.module.moduleSection.module.title}}
      </h5>
      <h6 *ngIf="evaluationEvent.module.moduleSection.academicYear && evaluationEvent.module.moduleSection.academicPeriod"
        class="card-title">{{evaluationEvent.module.moduleSection.academicYear.label}}
        {{evaluationEvent.module.moduleSection.academicPeriod.code}}
      </h6>
      <p class="card-text">{{evaluationEvent.module.moduleSection.academicClass.code}} -
        {{evaluationEvent.module.responsible.latinLastName}} {{evaluationEvent.module.responsible.latinFirstName}}
      </p>
    </div>
  </div>
  <ng-container *ngIf="state === 'invalidToken'">
    <ng-container *ngTemplateOutlet="invalidTokenTemplate"></ng-container>
  </ng-container>
  <ng-container *ngIf="state === 'eventNotFound'">
    <ng-container *ngTemplateOutlet="templateInvalidPeriod"></ng-container>
  </ng-container>
  <ng-container *ngIf="state === 'submitted'">
    <ng-container *ngTemplateOutlet="submittedTemplate"></ng-container>
  </ng-container>
  <ng-container *ngIf="state === 'submitting'">
    <formio #form [success]="success" [refresh]="refresh" [form]="evaluationForm"></formio>
  </ng-container>

</div>
