<div class="col-12">
    <div class="d-flex justify-content-center">
      <form name="form1" #form1="ngForm" (ngSubmit)="onSubmit(form1)" novalidate>
        <div class="mt-3 mb-5">
          <img style="height: 80px;" [src]="applicationLogo">
          <div class="d-inline display-6"> </div>
        </div>

        <div class="card">
          <div class="card-header d-flex justify-content-between mt-3">
            <h5 class="card-title font-xl text-dark  my-auto">{{ 'EvaluationCenter.Title' | translate }}</h5>
          </div>

          <div class="card-body">
            <input [ngClass]="{ 'border-danger': (lastError != null) }" (keyup)="clearError()" mask="AAAAA-AAAAA-AAAAA-AAAAA" ngModel [required]="true"
                   type="text" maxlength="23" class="form-control form-control-lg" id="evaluationKey"
                   name="evaluationKey"
                   placeholder="{{ 'EvaluationCenter.EnterKey' | translate }}" />
            <div class="my-2">
              <span class="form-text text-muted pt-2" [translate]="'EvaluationCenter.EnterKeyHelp'"></span>
            </div>
            <div style="width: 320px" *ngIf="lastError">
              <div class="text-danger pt-2">{{lastError.message}}</div>
            </div>
          </div>
          <div class="card-footer border-top py-4">
            <div class="row">
              <div class="col-12 col-lg-6 mt-3" >
                <div class="row mb-2 pl-2">
                  <button [disabled]="form1.invalid" type="submit" class="btn btn-primary">
                    <span [ngClass]="{ 'mr-2': loading }" [translate]="'EvaluationCenter.Evaluate'"></span>
                    <div *ngIf="loading" class="d-inline-block ms-2">
                      <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
</div>
